<div class="course">
    <h1>{{course.title}}</h1>
    <img src="{{course.img}}" alt="{{course.title}}">
    <p class="price big">{{course.price}}</p>
    <a href="/courses" class="btn-large">
        <div class="d-flex align-center ">
            <i class="large material-icons mr-1">arrow_back</i>
            Back to Courses
        </div>
    </a>
</div>